
body {
    margin: 0;
    background: linear-gradient(270deg, #63C8DE -1.04%, #252B42 100%);
}

nav {
    font-family: 'Aldrich', sans-serif;
    margin-top: 10px;
}

.logo {
    margin-top: -20px;
}

#home {
    margin-top: 200px;
    text-align: center;
}

.ht-main {
    font-family: Aldrich;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

.ht-sub {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', ;
    font-size: 15px;
    margin-top: -10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.signup-button {
    background: #3A858C;
    border-radius: 37px;
    font-family: Aldrich;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 158px;
    height: 52px;
    left: 0px;
    top: 280px;
    color: white;
    border: 1px #010b0c;
}

body {
	text-align: center;
}

header {
	height: 75px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}


@media screen and (max-width: 600px) {
    #home {
        margin-top: 70px;
    }
    .ht-main {
        font-size: 40px;
        line-height: 60px;
    }
    .ht-sub {
        margin-top: 10px;
    }
}

.front-page-logo{
    width: 300px;
}

.youtube-iframe{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    
  }
  .youtube-iframe iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  
.socialmedia {
    grid-column: 1 / span 6;
    grid-row: 26 / span 1;
    text-align: center;
    border: 2px solid rgb(94,73,129);
    border-left-color: transparent;
    border-right-color: transparent;
    padding:20px;
  }
  
  .socialmedia body {
      font-family: 'Lato', sans-serif;
      color: #FFF;
      background: #322f30;
      -webkit-font-smoothing: antialiased;
  }
  
  .socialmedia h3{
      letter-spacing: 15px;
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Barlow Condensed';
      margin-bottom: 5px;
  
  }
  
  .socialmedia a {
      text-decoration: none;
      color: #fff;
  }
  
  .socialmedia p > a:hover{
      color: #d9d9d9;
      text-decoration:  underline;
  }
  
  ._12 {
      font-size: 1.2em;
  }
  
  .socialmedia ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 100px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-facebook {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-facebook:hover {
      background-color: #3d5b99;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }
  .fa-rss {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-rss:hover {
      background-color: #eb8231;
  }
  .fa-youtube {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-youtube:hover {
      background-color: #e64a41;
  }
  .fa-linkedin {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-linkedin:hover {
      background-color: #0073a4;
  }
  .fa-google-plus {
      padding:10px 9px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-google-plus:hover {
      background-color: #e25714;
  }
  
  .fa-medium {
      padding:10px 9px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-medium:hover {
      background-color: #00AB6C;
  }
  