@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap");

/* Start of Navbar*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #252b42;
  color: white;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-direction: row;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #252b42;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #63c8de;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  color: inherit;
  font-size: 26px;
  margin-left: 5px;
}
.navbar-brand:hover {
  color: white;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*End of Navbar*/

/*Main container - IMPORTANT */
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

body {
  margin: 0;
  background: linear-gradient(270deg, #63c8de -1.04%, #252b42 100%);
}

/*Start of Home */

#home {
  padding-top: 10%;
  text-align: left;
}
.ht-main {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0.2px;
  color: white;
}
#home-image {
  margin-top: -80px;
}

.ht-sub {
  color: white;
  margin-top: 10px;
}

.signup-button {
  background: #252b42;

  border-radius: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  width: 158px;
  height: 52px;
  left: 0px;
  top: 280px;
  color: white;
  border: 1px #3a858c;
}

@media screen and (max-width: 760px) {
  #home {
    padding: 5%;
    text-align: center;
  }

  .ht-main {
    font-size: 40px;
    line-height: 60px;
  }
  .ht-sub {
    margin-top: 10px;
  }

  h5 span {
    background-color: white;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    top: 10px;
  }
}

/*End of Home */

/*Start of Media */

.card-contain {
  color: #252b42;
  text-align: center;
}
.card-body {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
}

.media-head {
  font-weight: 600;
  font-family: Montserrat;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}
#media {
  padding-top: 7%;
  margin: 10px;
  margin-right: 50px;
  margin-left: 50px;
}
/*End of Media */

/*Start of About */

.box {
  max-width: 1300px;
  position: relative;
  margin: 100px;
  margin-top: 120px;
  margin-bottom: 0px;

  background: rgb(164, 232, 255);
  padding: 30px;
  box-shadow: 0px 10px 30px;
  display: block;
  background: rgba(192, 249, 255, 0.141);
}

.about-body {
  font-size: 18px;
  color: white;
}
#about {
  padding-top: 5%;
}

iframe {
  width: 1108px;
  height: 710px;
  /* apply the transform */
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  position: absolute;
  left: -400px;
}

/*End of About */

/*General*/
h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(37, 42, 65, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}

.overlay a:hover,
.overlay a:focus {
  color: rgb(164, 232, 255);
}

.overlay .closebtn {
  position: absolute;
  top: -20px;
  right: 3px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
    text-decoration: "none";
  }
  .overlay .closebtn {
    top: 15px;
    right: 35px;
  }
}

/*End of General */

/*Start of Footer */
footer {
  background-color: #252b42;
  color: white;

  left: 0;
  bottom: 0;
  width: 100%;
}
#socials {
  padding-top: 5%;
}
@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 20px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.sub-footer {
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 25px;
}
.logo {
  margin-top: 50px;
}
.title-footer {
  font-family: Montserrat;
  font-size: 30px;
}
#title {
  flex-direction: column;
}

/*End of Footer*/

/*faq*/
#faq {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  margin: 10px;
  margin-bottom: 50px;
}
#accord {
  background-color: #252b42;
  color: #fff;
}

.FAQ-subheading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
  letter-spacing: 0.2px;
  color: white;
  padding-top: 5%;
}
